<div class="container d-flex flex-wrap justify-content-center align-items-center">
    <div class="card mb-3 mt-2 mr-1" *ngFor="let car of cars" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src={{car.image}} class="card-img img-fluid mt-4" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{car.mark}}</h5>
                    <p class="card-text">{{car.info}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>